<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block titre %}
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<header>

<form id="adresseForm" action="{% url 'recherche' %}" method="get">
    <label for="adresse"></label>
    <input type="text" id="adresse" name="adresse" autocomplete="off" required placeholder="Indiquez votre ville ou votre code postal" value="{{ adresse }}">


    {% if nb_km_max %}
    <div class="range-container">
        <label for="nb_km_max">Rayon</label>
        <input type="range" id="nb_km_max" name="nb_km_max" min="5" max="40" step="1" value="{{ nb_km_max }}"
               oninput="this.parentElement.querySelector('output').value = this.value; fetchNearbyStores()">
        <span class="range-output"><output>{{ nb_km_max }}</output> km</span>
        </div>

    {% else %}
        <div class="range-container">
            <label for="nb_km_max">Rayon</label>
                <input type="range" id="nb_km_max" name="nb_km_max" min="5" max="40" step="1" value="10"
               oninput="this.parentElement.querySelector('output').value = this.value; fetchNearbyStores()">
        <span class="range-output"><output>10</output> km</span>

            </div>
    {% endif %}

        <button type="submit">🔍</button>
</form>


</header>

{% block content %}
{% endblock %}

</body>
</html>