<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block titre %}
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" media="print" onload="this.media='all'">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZWZYMEWPWL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZWZYMEWPWL');
    </script>

</head>

<body>

<header class="header">
    <div class="header-container">
        <a href="{% url 'index'%}" class="logo">mon carburant.fr</a>

        <form id="adresseForm" action="{% url 'recherche' %}" method="get" class="search-form">
            <label for="adresse"></label>
            <input type="text" id="adresse" name="adresse" autocomplete="off" required
                   placeholder="Indiquez votre ville ou votre code postal"
                   value="{{ adresse }}">

            {% if nb_km_max %}
            <div class="range-container">
                <label for="nb_km_max">Rayon</label>
                <input type="range" id="nb_km_max" name="nb_km_max" min="5" max="40" step="1" value="{{ nb_km_max }}"
                       oninput="this.parentElement.querySelector('output').value = this.value; fetchNearbyStores()">
                <span class="range-output"><output>{{ nb_km_max }}</output> km</span>
            </div>
            {% else %}
            <div class="range-container">
                <label for="nb_km_max">Rayon</label>
                <input type="range" id="nb_km_max" name="nb_km_max" min="5" max="40" step="1" value="10"
                       oninput="this.parentElement.querySelector('output').value = this.value; fetchNearbyStores()">
                <span class="range-output"><output>10</output> km</span>
            </div>
            {% endif %}

            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</header>


{% block content %}
{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Récupérer les données JSON du backend
        const data = {{ graph_data|safe }};

        // Configurer le graphique
        const config = {
            type: 'line', // Type de graphique (ligne)
            data: data,  // Les données envoyées depuis Django
            options: {
                responsive: true,
                spanGaps: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                plugins: {
                    title: {
                        display: false,
                        text: 'Évolution du prix moyen par type de carburant',
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Prix moyen (€)'
                        }
                    }
                }
            }
        };

        // Créer le graphique
        new Chart(document.getElementById('carburantChart'), config);
    </script>


</body>
</html>