.station-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #D0BC13;
    padding-bottom: 5px;
}

.adresse {
    font-size: 18px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 10px;
}

/* Liste des prix des carburants */
.carburants {
    list-style: none;
    padding: 0;
}

.carburant-item, .type_carburant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ecf0f1;
}

.positif {
    font-weight: bold;
    color: #df5b5b
}

.negatif {
    font-weight: bold;
    color: #0E7100
}

.neutre {
    font-weight: bold;
    color: #4f4f4f
}



.comparaison-geographique {
    margin: 20px 0;
    overflow-x: auto;
    padding: 20px;
}

.comparaison-geographique table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.comparaison-geographique th, .comparaison-geographique td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.comparaison-geographique th {
    background-color: #34495e;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.comparaison-geographique td a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.comparaison-geographique tr:hover {
    background-color: #f5f5f5;
}





/* Couleurs pour chaque carburant */
#Diesel { background-color: #D0BC13; color: white; } /* Bleu */
#SP95 { background-color: #95D600; color: white; } /* Vert */
#SP98 { background-color: #3F6843; color: white; } /* Orange */
#E10 { background-color: #3F6843; color: white; } /* Jaune */
#E85 { background-color: #109589; color: white; } /* Violet */
#GPL { background-color: #34495e; color: white; } /* Gris foncé */

/* Services */

.automate {
    font-weight:bold;
}

.services {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.service-item {
    background-color: #95a5a6;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
}
