{% extends 'base.html' %}

{% block titre %}
<title>Résultats de recherche</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recherche.css' %}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" media="print" onload="this.media='all'">
{% endblock %}


{% block content %}
    <h1>Résultats pour "{{ adresse }}"</h1>

    <h2>TOP 5 par carburant à proximité de {{ adresse }}</h2>

    {% if top5_diesel != 0 %}
        <div class="top5-carburants">
            <div class="carburant-section diesel">
                <h3>Top 5 Diesel</h3>
                <table class="carburant-table">
                    <thead>
                        <tr>
                            <th>Ville</th>
                            <th>Adresse</th>
                            <th>Prix</th>
                            <th>Date de mise à jour</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resultat in top5_diesel %}
                            <tr>
                                <td>{{ resultat.ville }}</td>
                                <td>{{ resultat.adresse }}</td>
                                <td>{{ resultat.prix }} €</td>
                                {% if resultat.days_difference == 0 %}
                                    <td class="date-table" id="today">Aujourd'hui</td>
                                {% elif resultat.days_difference == 1 %}
                                    <td class="date-table" id="yesterday">Hier</td>
                                {% elif resultat.days_difference <= 3 %}
                                    <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                                {% else %}
                                    <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}

    {% if top5_sp95 != 0 %}
        <div class="carburant-section sp95">
            <h3>Top 5 SP 95</h3>
            <table class="carburant-table">
                <thead>
                    <tr>
                        <th>Ville</th>
                        <th>Adresse</th>
                        <th>Prix</th>
                        <th>Date de mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in top5_sp95 %}
                        <tr>
                            <td>{{ resultat.ville }}</td>
                            <td>{{ resultat.adresse }}</td>
                            <td>{{ resultat.prix }} €</td>
                            {% if resultat.days_difference == 0 %}
                                <td class="date-table" id="today">Aujourd'hui</td>
                            {% elif resultat.days_difference == 1 %}
                                <td class="date-table" id="yesterday">Hier</td>
                            {% elif resultat.days_difference <= 3 %}
                                <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                            {% else %}
                                <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if top5_sp98 != 0 %}
        <div class="carburant-section sp98">
            <h3>Top 5 SP 98</h3>
            <table class="carburant-table">
                <thead>
                    <tr>
                        <th>Ville</th>
                        <th>Adresse</th>
                        <th>Prix</th>
                        <th>Date de mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in top5_sp98 %}
                        <tr>
                            <td>{{ resultat.ville }}</td>
                            <td>{{ resultat.adresse }}</td>
                            <td>{{ resultat.prix }} €</td>
                            {% if resultat.days_difference == 0 %}
                                <td class="date-table" id="today">Aujourd'hui</td>
                            {% elif resultat.days_difference == 1 %}
                                <td class="date-table" id="yesterday">Hier</td>
                            {% elif resultat.days_difference <= 3 %}
                                <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                            {% else %}
                                <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if top5_e85 != 0 %}
        <div class="carburant-section e85">
            <h3>Top 5 E 85</h3>
            <table class="carburant-table">
                <thead>
                    <tr>
                        <th>Ville</th>
                        <th>Adresse</th>
                        <th>Prix</th>
                        <th>Date de mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in top5_e85 %}
                        <tr>
                            <td>{{ resultat.ville }}</td>
                            <td>{{ resultat.adresse }}</td>
                            <td>{{ resultat.prix }} €</td>
                            {% if resultat.days_difference == 0 %}
                                <td class="date-table" id="today">Aujourd'hui</td>
                            {% elif resultat.days_difference == 1 %}
                                <td class="date-table" id="yesterday">Hier</td>
                            {% elif resultat.days_difference <= 3 %}
                                <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                            {% else %}
                                <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if top5_e10 != 0 %}
        <div class="carburant-section e10">
            <h3>Top 5 E 10</h3>
            <table class="carburant-table">
                <thead>
                    <tr>
                        <th>Ville</th>
                        <th>Adresse</th>
                        <th>Prix</th>
                        <th>Date de mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in top5_e10 %}
                        <tr>
                            <td>{{ resultat.ville }}</td>
                            <td>{{ resultat.adresse }}</td>
                            <td>{{ resultat.prix }} €</td>
                            {% if resultat.days_difference == 0 %}
                                <td class="date-table" id="today">Aujourd'hui</td>
                            {% elif resultat.days_difference == 1 %}
                                <td class="date-table" id="yesterday">Hier</td>
                            {% elif resultat.days_difference <= 3 %}
                                <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                            {% else %}
                                <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if top5_gpl != 0 %}
        <div class="carburant-section gpl">
            <h3>Top 5 GPL</h3>
            <table class="carburant-table">
                <thead>
                    <tr>
                        <th>Ville</th>
                        <th>Adresse</th>
                        <th>Prix</th>
                        <th>Date de mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in top5_gpl %}
                        <tr>
                            <td>{{ resultat.ville }}</td>
                            <td>{{ resultat.adresse }}</td>
                            <td>{{ resultat.prix }} €</td>
                            {% if resultat.days_difference == 0 %}
                                <td class="date-table" id="today">Aujourd'hui</td>
                            {% elif resultat.days_difference == 1 %}
                                <td class="date-table" id="yesterday">Hier</td>
                            {% elif resultat.days_difference <= 3 %}
                                <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                            {% else %}
                                <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>


    <br>
    <br>
    <br>


    <h2>Les 10 stations les plus proches</h2>

    {% if resultats %}
    <div class="stations_proximite">
<table>
    <thead>
        <tr>
            <th>Ville</th>
            <th>Adresse</th>
            <th>Prix Diesel</th>
            <th>Prix SP95</th>
            <th>Prix SP98</th>
            <th>Prix E85</th>
            <th>Prix E10</th>
            <th>Prix GPL</th>
            <th>Distance (km)</th>
        </tr>
    </thead>
    <tbody>
        {% for resultat in resultats %}
        <tr>
            <td><a href="{% url 'station' id=resultat.station.id %}">{{ resultat.station.ville }}</a></td>
            <td>{{ resultat.station.adresse }}</td>

            <!-- Prix Diesel -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.station.id and prix.type_carburant == "Diesel" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="Diesel">-</p>
                        {% else %}
                            <p class="prix_carburant_stations_proximite" id="Diesel">{{ prix.prix }}</p>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Prix SP95 -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.station.id and prix.type_carburant == "SP95" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="SP95">-</p>
                        {% else %}
                            <p class="prix_carburant_stations_proximite" id="SP95">{{ prix.prix }}</p>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Prix SP98 -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.station.id and prix.type_carburant == "SP98" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="SP98">-</p>
                        {% else %}
                            <p class="prix_carburant_stations_proximite" id="SP98">{{ prix.prix }}</p>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Prix E85 -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.station.id and prix.type_carburant == "E85" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="E85">-</p>
                        {% else %}
                        <p class="prix_carburant_stations_proximite" id="E85">{{ prix.prix }}</p>

                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Prix E10 -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.station.id and prix.type_carburant == "E10" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="E10">-</p>
                        {% else %}
                            <p class="prix_carburant_stations_proximite" id="E10">{{ prix.prix }}</p>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Prix GPL -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.station.id and prix.type_carburant == "GPL" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="GPL">-</p>
                        {% else %}
                            <p class="prix_carburant_stations_proximite" id="GPL">{{ prix.prix }}</p>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

                <td>
                    <div class="distance-table">
                        <i class="fa-solid fa-location-dot"></i> {{ resultat.distance }} km
                    </div>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    </div>
    {% endif %}





    <h2>Data</h2>

    <h3>Prix moyen dans le secteur pour aujourd'hui</h3>

<div class="moyenne_carburant">

    {% if moyenne_prix_diesel != 0 %}
        <div class="moyenne" id="Diesel">
            <span class="type_carburant">Diesel</span>
            <span class="prix_moyen">{{ moyenne_prix_diesel }} €</span>
        </div>
    {% endif %}

    {% if moyenne_prix_sp95 != 0 %}
        <div class="moyenne" id="SP95">
            <span class="type_carburant">SP95</span>
            <span class="prix_moyen">{{ moyenne_prix_sp95 }} €</span>
        </div>
    {% endif %}

    {% if moyenne_prix_sp98 != 0 %}
        <div class="moyenne" id="SP98">
            <span class="type_carburant">SP98</span>
            <span class="prix_moyen">{{ moyenne_prix_sp98 }} €</span>
        </div>
    {% endif %}

    {% if moyenne_prix_e10 != 0 %}
        <div class="moyenne" id="E10">
            <span class="type_carburant">E10</span>
            <span class="prix_moyen">{{ moyenne_prix_e10 }} €</span>
        </div>
    {% endif %}

    {% if moyenne_prix_e85 != 0 %}
        <div class="moyenne" id="E85">
            <span class="type_carburant">E85</span>
            <span class="prix_moyen">{{ moyenne_prix_e85 }} €</span>
        </div>
    {% endif %}

    {% if moyenne_prix_gpl != 0 %}
        <div class="moyenne" id="GPL">
            <span class="type_carburant">GPL</span>
            <span class="prix_moyen">{{ moyenne_prix_gpl }} €</span>
        </div>
    {% endif %}

</div>


{% endblock %}
