{% extends 'base.html' %}

{% block titre %}
<title>Station {{ station.id }}</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'station.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" media="print" onload="this.media='all'">
{% endblock %}


{% block content %}


<div class="station-container">
    <h1>Station {{ station.id }}</h1>

    <h2>Adresse</h2>
    <p class="adresse">{{ station.adresse }}, {{ station.code_postal }} {{ station.ville }}</p>

    <h2>Prix des carburants</h2>
    <ul class="carburants">
        {% for carburant in carburants %}
        <li class="carburant-item" id="{{ carburant.type_carburant }}">
            <span>{{ carburant.type_carburant }}</span>
            <span>{{ carburant.prix }} €</span>
            {% if carburant.days_difference == 0 %}
                <span>Aujourd'hui</span>
            {% elif carburant.days_difference == 1 %}
                <span>Hier</span>
            {% else %}
                <span>Il y a {{ carburant.days_difference }} jours</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    {% if carburants %}
        <h2>Comparaison des prix du carburant</h2>
            <div class="comparaison-geographique">
                <table>
                <thead>
                    <tr>
                        <th>Type de carburant</th>
                        <th>Variation département</th>
                        <th>Variation région</th>
                        <th>Variation ville</th>
                    </tr>
                </thead>
                <tbody>
                    {% for carburant in carburants %}
                        <tr>
                            <td>
                                <p class="type_carburant" id="{% if carburant.type_carburant == 'Diesel' %}Diesel{% elif carburant.type_carburant == 'SP95' %}SP95{% elif carburant.type_carburant == 'SP98' %}SP98{% elif carburant.type_carburant == 'E10' %}E10{% elif carburant.type_carburant == 'E85' %}E85{% elif carburant.type_carburant == 'GPL' %}GPL{% endif %}">
                                    {{ carburant.type_carburant }}
                                </p>
                            </td>

                            <td>
                                <p class="{% if carburant.pourcentage_variation_department < 0 %}negatif{% elif carburant.pourcentage_variation_department > 0 %}positif{% else %}neutre{% endif %}">
                                    {{ carburant.pourcentage_variation_department }} %
                                </p>
                            </td>

                            <td>
                                <p class="{% if carburant.pourcentage_variation_region < 0 %}negatif{% elif carburant.pourcentage_variation_region > 0 %}positif{% else %}neutre{% endif %}">
                                    {{ carburant.pourcentage_variation_region }} %
                                </p>
                            </td>

                            <td>
                                <p class="{% if carburant.pourcentage_variation_city < 0 %}negatif{% elif carburant.pourcentage_variation_city > 0 %}positif{% else %}neutre{% endif %}">
                                    {{ carburant.pourcentage_variation_city }} %
                                </p>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>

    {% endif %}










    <h2>Services</h2>
    {% if station.automate_24_24 %}
        <p class="automate"><i class="fa-regular fa-clock"></i> Automate 24/24</p>
    {% endif %}
    <ul class="services">
        {% for service in services %}
        <li class="service-item">{{ service }}</li>
        {% endfor %}
    </ul>
</div>




{% endblock %}