{% extends 'base.html' %}

{% block titre %}
<title>Résultats de recherche</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recherche.css' %}">
{% endblock %}




{% block content %}

    <div class="breadcrumb">
      <a href="{% url 'index' %}">Accueil</a> >
      <a href="{% url 'region' id=region %}">{{ region }}</a> >
      <a href="{% url 'departement' id=departement %}">{{ departement }}</a> >
      {{ ville }}
    </div>


    <h1>Les stations essence dans la ville de {{ ville }}</h1>

    <h2>TOP 5 par carburant dans la ville de {{ ville }}</h2>

    {% if top5_diesel != 0 %}
        <div class="top5-carburants">
            <div class="carburant-section diesel">
                <h3>Top 5 Diesel</h3>
                <table class="carburant-table">
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Date de mise à jour</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for resultat in top5_diesel %}
                            <tr onclick="window.location='{% url 'station' id=resultat.id %}'" class="clickable-row">
                                <td>
                                    <img src="/media/logo/{{ resultat.marque }}.png" alt="Logo {{ resultat.marque }}" class = "image-logo" onerror="this.onerror=null;this.src='/media/logo/Indépendant.png';" loading="lazy">
                                </td>

                                <td>
                                    <div><strong>{{ resultat.marque }}</strong> — {{ resultat.ville }}</div>
                                    <div class="adresse">{{ resultat.adresse }}</div>
                                </td>
                                <td>{{ resultat.prix }} €</td>
                                {% if resultat.days_difference == 0 %}
                                    <td class="date-table" id="today">Aujourd'hui</td>
                                {% elif resultat.days_difference == 1 %}
                                    <td class="date-table" id="yesterday">Hier</td>
                                {% elif resultat.days_difference <= 3 %}
                                    <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                                {% else %}
                                    <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}

    {% if top5_sp95 != 0 %}
        <div class="carburant-section sp95">
            <h3>Top 5 SP 95</h3>
            <table class="carburant-table">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date de mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in top5_sp95 %}
                        <tr onclick="window.location='{% url 'station' id=resultat.id %}'" class="clickable-row">
                            <td>
                                <img src="/media/logo/{{ resultat.marque }}.png" alt="Logo {{ resultat.marque }}" class = "image-logo" onerror="this.onerror=null;this.src='/media/logo/Indépendant.png';" loading="lazy">
                            </td>

                            <td>
                                <div><strong>{{ resultat.marque }}</strong> — {{ resultat.ville }}</div>
                                <div class="adresse">{{ resultat.adresse }}</div>
                            </td>
                            <td>{{ resultat.prix }} €</td>
                            {% if resultat.days_difference == 0 %}
                                <td class="date-table" id="today">Aujourd'hui</td>
                            {% elif resultat.days_difference == 1 %}
                                <td class="date-table" id="yesterday">Hier</td>
                            {% elif resultat.days_difference <= 3 %}
                                <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                            {% else %}
                                <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if top5_sp98 != 0 %}
        <div class="carburant-section sp98">
            <h3>Top 5 SP 98</h3>
            <table class="carburant-table">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date de mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in top5_sp98 %}
                        <tr onclick="window.location='{% url 'station' id=resultat.id %}'" class="clickable-row">
                            <td>
                                <img src="/media/logo/{{ resultat.marque }}.png" alt="Logo {{ resultat.marque }}" class = "image-logo" onerror="this.onerror=null;this.src='/media/logo/Indépendant.png';" loading="lazy">
                            </td>

                            <td>
                                <div><strong>{{ resultat.marque }}</strong> — {{ resultat.ville }}</div>
                                <div class="adresse">{{ resultat.adresse }}</div>
                            </td>
                            <td>{{ resultat.prix }} €</td>
                            {% if resultat.days_difference == 0 %}
                                <td class="date-table" id="today">Aujourd'hui</td>
                            {% elif resultat.days_difference == 1 %}
                                <td class="date-table" id="yesterday">Hier</td>
                            {% elif resultat.days_difference <= 3 %}
                                <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                            {% else %}
                                <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if top5_e85 != 0 %}
        <div class="carburant-section e85">
            <h3>Top 5 E 85</h3>
            <table class="carburant-table">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date de mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in top5_e85 %}
                        <tr onclick="window.location='{% url 'station' id=resultat.id %}'" class="clickable-row">
                            <td>
                                <img src="/media/logo/{{ resultat.marque }}.png" alt="Logo {{ resultat.marque }}" class = "image-logo" onerror="this.onerror=null;this.src='/media/logo/Indépendant.png';" loading="lazy">
                            </td>

                            <td>
                                <div><strong>{{ resultat.marque }}</strong> — {{ resultat.ville }}</div>
                                <div class="adresse">{{ resultat.adresse }}</div>
                            </td>
                            <td>{{ resultat.prix }} €</td>
                            {% if resultat.days_difference == 0 %}
                                <td class="date-table" id="today">Aujourd'hui</td>
                            {% elif resultat.days_difference == 1 %}
                                <td class="date-table" id="yesterday">Hier</td>
                            {% elif resultat.days_difference <= 3 %}
                                <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                            {% else %}
                                <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if top5_e10 != 0 %}
        <div class="carburant-section e10">
            <h3>Top 5 E 10</h3>
            <table class="carburant-table">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date de mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in top5_e10 %}
                        <tr onclick="window.location='{% url 'station' id=resultat.id %}'" class="clickable-row">
                            <td>
                                <img src="/media/logo/{{ resultat.marque }}.png" alt="Logo {{ resultat.marque }}" class = "image-logo" onerror="this.onerror=null;this.src='/media/logo/Indépendant.png';" loading="lazy">
                            </td>

                            <td>
                                <div><strong>{{ resultat.marque }}</strong> — {{ resultat.ville }}</div>
                                <div class="adresse">{{ resultat.adresse }}</div>
                            </td>
                            <td>{{ resultat.prix }} €</td>
                            {% if resultat.days_difference == 0 %}
                                <td class="date-table" id="today">Aujourd'hui</td>
                            {% elif resultat.days_difference == 1 %}
                                <td class="date-table" id="yesterday">Hier</td>
                            {% elif resultat.days_difference <= 3 %}
                                <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                            {% else %}
                                <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if top5_gpl != 0 %}
        <div class="carburant-section gpl">
            <h3>Top 5 GPL</h3>
            <table class="carburant-table">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date de mise à jour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in top5_gpl %}
                        <tr onclick="window.location='{% url 'station' id=resultat.id %}'" class="clickable-row">
                            <td>
                                <img src="/media/logo/{{ resultat.marque }}.png" alt="Logo {{ resultat.marque }}" class = "image-logo" onerror="this.onerror=null;this.src='/media/logo/Indépendant.png';" loading="lazy">
                            </td>

                            <td>
                                <div><strong>{{ resultat.marque }}</strong> — {{ resultat.ville }}</div>
                                <div class="adresse">{{ resultat.adresse }}</div>
                            </td>
                            <td>{{ resultat.prix }} €</td>
                            {% if resultat.days_difference == 0 %}
                                <td class="date-table" id="today">Aujourd'hui</td>
                            {% elif resultat.days_difference == 1 %}
                                <td class="date-table" id="yesterday">Hier</td>
                            {% elif resultat.days_difference <= 3 %}
                                <td class="date-table" id="old">Il y a {{ resultat.days_difference }} jours</td>
                            {% else %}
                                <td class="date-table" id="very-old">Il y a {{ resultat.days_difference }} jours</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>


    <br>
    <br>
    <br>


    <h2>Les stations dans la ville de {{ ville }}</h2>

    {% if stations %}
    <div class="stations_proximite">
<table>
    <thead>
        <tr>
            <th>Marque</th>
            <th>Adresse</th>
            <th>Prix Diesel</th>
            <th>Prix SP95</th>
            <th>Prix SP98</th>
            <th>Prix E85</th>
            <th>Prix E10</th>
            <th>Prix GPL</th>
        </tr>
    </thead>
    <tbody>
        {% for resultat in stations %}

        <tr onclick="window.location='{% url 'station' id=resultat.id %}'" class="clickable-row">
            <td>
                <img src="/media/logo/{{ resultat.marque }}.png" alt="Logo {{ resultat.marque }}" class = "image-logo" onerror="this.onerror=null;this.src='/media/logo/Indépendant.png';" loading="lazy">
            </td>

            <td>
                <div><strong>{{ resultat.marque }}</strong> — {{ resultat.ville }}</div>
                <div class="adresse">{{ resultat.adresse }}</div>
            </td>

            <!-- Prix Diesel -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.id and prix.type_carburant == "Diesel" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="Diesel">-</p>
                        {% else %}
                            <p class="prix_carburant_stations_proximite" id="Diesel">{{ prix.prix }}</p>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Prix SP95 -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.id and prix.type_carburant == "SP95" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="SP95">-</p>
                        {% else %}
                            <p class="prix_carburant_stations_proximite" id="SP95">{{ prix.prix }}</p>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Prix SP98 -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.id and prix.type_carburant == "SP98" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="SP98">-</p>
                        {% else %}
                            <p class="prix_carburant_stations_proximite" id="SP98">{{ prix.prix }}</p>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Prix E85 -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.id and prix.type_carburant == "E85" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="E85">-</p>
                        {% else %}
                        <p class="prix_carburant_stations_proximite" id="E85">{{ prix.prix }}</p>

                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Prix E10 -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.id and prix.type_carburant == "E10" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="E10">-</p>
                        {% else %}
                            <p class="prix_carburant_stations_proximite" id="E10">{{ prix.prix }}</p>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

            <!-- Prix GPL -->
            {% for prix in prix_carburants_station %}
                {% if prix.station_id == resultat.id and prix.type_carburant == "GPL" %}
                    <td>
                        {% if prix.prix == 0.0 %}
                            <p class="prix_carburant_stations_proximite" id="GPL">-</p>
                        {% else %}
                            <p class="prix_carburant_stations_proximite" id="GPL">{{ prix.prix }}</p>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}

        </tr>
        {% endfor %}
    </tbody>
</table>


    </div>
    {% endif %}





    <h2>Data pour la ville de {{ ville }}</h2>

    <h3>Prix moyen des carburants pour aujourd'hui</h3>

<div class="moyenne_carburant">

    {% if moyenne_prix_diesel != 0 %}
        <div class="moyenne" id="Diesel">
            <span class="type_carburant">Diesel</span>
            <span class="prix_moyen">{{ moyenne_prix_diesel }} €</span>
        </div>
    {% endif %}

    {% if moyenne_prix_sp95 != 0 %}
        <div class="moyenne" id="SP95">
            <span class="type_carburant">SP95</span>
            <span class="prix_moyen">{{ moyenne_prix_sp95 }} €</span>
        </div>
    {% endif %}

    {% if moyenne_prix_sp98 != 0 %}
        <div class="moyenne" id="SP98">
            <span class="type_carburant">SP98</span>
            <span class="prix_moyen">{{ moyenne_prix_sp98 }} €</span>
        </div>
    {% endif %}

    {% if moyenne_prix_e10 != 0 %}
        <div class="moyenne" id="E10">
            <span class="type_carburant">E10</span>
            <span class="prix_moyen">{{ moyenne_prix_e10 }} €</span>
        </div>
    {% endif %}

    {% if moyenne_prix_e85 != 0 %}
        <div class="moyenne" id="E85">
            <span class="type_carburant">E85</span>
            <span class="prix_moyen">{{ moyenne_prix_e85 }} €</span>
        </div>
    {% endif %}

    {% if moyenne_prix_gpl != 0 %}
        <div class="moyenne" id="GPL">
            <span class="type_carburant">GPL</span>
            <span class="prix_moyen">{{ moyenne_prix_gpl }} €</span>
        </div>
    {% endif %}

</div>


{% if graph_data != 0 %}
    <h3>Évolution du prix par type de carburant</h3>
    <div class="information">
        <p>Pourquoi les prix moyen en France (en haut de la page) ne collent pas toujours avec la dernière valeur de la courbe ?
        Eh bien, c’est parce qu’on regarde les choses sous deux angles différents 👀 !
        Au-dessus, on prend la dernière info dispo pour chaque station (même si elle date d’il y a 3 jours 😴), alors que la courbe, elle, suit le prix le jour où l’info est apparue, comme un journal intime du carburant 📅⛽️
        </p>
    </div>

    <div>
        <canvas id="carburantChart"></canvas>
    </div>
{% endif %}


{% endblock %}
